<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imcp_fe">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIlG1hd50PhKb1BbtP_Y2A3ucu4jCgRaw"/>

        <activity android:name=".Start">
            <intent-filter>
                
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Parents_main"/>
        <activity android:name=".Add_child"/>
        <activity android:name=".Child"/>
        <activity android:name=".Child_info"/>
        <activity android:name=".Parent_info"/>
        <activity android:name=".Missing_children"/>
        <activity android:name=".Missing_child_info"/>
        <activity android:name=".ChildrenLoginActivity"/>
        <activity android:name=".PrimaryKey"/>
        <activity android:name=".ParentsLoginActivity"/>
        <activity android:name=".ParentsSignup"/>
        <activity android:name=".ParentsFindId"/>
        <activity android:name=".ParentsFindPw"/>

    </application>

</manifest>
